.footer {
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding: 15px;
  background: linear-gradient(278.04deg, #ffc83e 31.99%, #ff9f47 81.27%);
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: 2 / -2;
}

.contacts {
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.links {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #000;
  text-decoration: none;
  border-radius: 8px;
  padding: 10px;
}

.links:hover {
  background-color: rgb(0, 0, 0, 0.1);
}

.img {
  margin-right: 5px;
}

@media screen and (min-width: 1280px) {
  .footer {
    grid-template-columns: auto 1230px auto;
    grid-column: 1 / -1;
  }
  .wrapper {
    grid-template-columns: auto 1230px auto;
  }
}
