.button {
  align-items: center;
  justify-self: end;
  border: 1px solid transparent;
  background: #ffae61;
  border-radius: 8px;
  padding: 15px 35px;
  font-weight: 600;
  color: #45515f;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clear {
  background: rgb(0, 0, 0, 0.1);
  border: 1px solid rgb(0, 0, 0, 0.1);
}

.button:hover {
  background: #ff9a3c;
}

.clear:hover {
  background: rgb(0, 0, 0, 0.2);
}

.button:disabled {
  position: relative;
  background: #c9c9c9;
  cursor: default;
}

.button:disabled:hover::after {
  content: 'Все поля обязательны для заполнения';
  position: absolute;
  top: -30px;
  right: 0;
  width: 250px;
  padding: 4px;
  display: block;
  background-color: rgba(255, 255, 255, 0.12);
  border: 1px solid rgb(0, 0, 0, 0.2);
  border-radius: 5px;
  font-weight: 400;
  font-size: 13px;
}
