.item {
  display: grid;
  grid-template-columns: 1fr;
  padding: 5px;
  border: 1px solid rgb(236, 236, 236);
  border-radius: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

.params {
  background: white;
  border: 1px solid transparent;
  border-radius: 12px;
}

.modified {
  position: relative;
  background: white;
  border: 1px solid transparent;
  box-shadow: 0px 4px 44px rgba(84, 104, 123, 0.05);
  border-radius: 12px;

  padding: 15px 40px;
  max-height: 1000px;
  overflow: hidden;
}

.modified::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  display: block;
  height: 0;
  width: 0;
}

.hidden.modified {
  height: 50px;
  max-height: 50px;
}

.hidden.modified::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  display: block;
  height: 16px;
  width: 100%;
  background-color: white;
  border: 1px solid white;
}

.button {
  position: absolute;
  border: none;
  background: none;
  cursor: pointer;
}

.button.arrow svg {
  fill: rgb(3, 29, 105, 0.7);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.arrow:hover svg {
  fill: rgb(3, 29, 105);
}

.button.copy svg {
  stroke: rgb(3, 29, 105, 0.7);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.copy:hover svg {
  stroke: rgb(3, 29, 105);
}

.arrow {
  top: 0;
  left: 0;
  width: 40px;
  height: 50px;
}

.copy {
  top: 0;
  right: 0;
  width: 40px;
  height: 50px;
}

.copied {
  position: fixed;
  z-index: 1;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #abde97;
  border: 1px solid #82cd64;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  padding: 12px 24px;
  text-align: center;
  color: rgb(27, 105, 3);
}

@media screen and (min-width: 1280px) {
  .copied {
    padding: 15px 70px;
  }
}

/* @media screen and (min-width: 769px) {
  .form {
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .title {
    font-size: 38px;
    line-height: 33px;
  }
}

@media screen and (min-width: 1280px) {
  .main {
    grid-column: 2 / -2;
  }

  .title {
    font-size: 38px;
    line-height: 45px;
  }
} */
