.wrapper {
  position: relative;
}

.label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  font-size: 15px;
  line-height: 18px;
  color: #c0c2c5;
  transition: all 250ms;
}

.textarea {
  display: block;
  width: 100%;
  padding: 15px;
  background: rgba(255, 255, 255, 0.95);
  border: 1px solid #ffc83e;
  border-radius: 12px 12px 0 12px;
  font-size: 22px;
  line-height: 28px;
  color: #45515f;
}

.textarea:focus ~ .label {
  position: absolute;
  top: 0;
  color: #45515f;
  background-color: white;
  padding: 2px;
}
