.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px 0;
}

.loader {
  text-align: center;
}

@media screen and (min-width: 769px) {
  .form {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .main {
    grid-column: 2 / -2;
  }
}
