.item {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.first {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.first:first-child .modified {
  background-color: rgb(214, 255, 221);
  border: 1px solid rgb(136, 255, 156);
  /* animation: fade-in 1500ms forwards; */
}
/* 
@keyframes fade-in {
  0% {
    background-color: rgb(214, 255, 221);
    border: 1px solid rgb(136, 255, 156);
  }
  50% {
    background-color: #f0f0f0;
    border: 1px solid #f0f0f0;
  }
  100% {
    background-color: rgb(214, 255, 221);
    border: 1px solid rgb(136, 255, 156);
  }
} */

.modified {
  position: relative;
  background: #f0f0f0;
  border: 1px solid transparent;
  border-radius: 12px;
  padding: 15px 40px;
  max-height: 1000px;
  grid-column: 1 / -1;
}

.button {
  position: absolute;
  border: none;
  background: none;
  cursor: pointer;
}

.button.arrow svg {
  fill: rgb(3, 29, 105, 0.7);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.arrow:hover svg {
  fill: rgb(3, 29, 105);
}

.button.copy svg {
  stroke: rgb(3, 29, 105, 0.7);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.copy:hover svg {
  stroke: rgb(3, 29, 105);
}

.arrow {
  top: 0;
  left: 0;
  width: 40px;
  height: 48px;
}

.copy {
  top: 2px;
  right: 0;
  width: 40px;
  height: 46px;
}

.copied {
  position: fixed;
  z-index: 1;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #abde97;
  border: 1px solid #82cd64;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  padding: 12px 24px;
  text-align: center;
  color: rgb(27, 105, 3);
}

@media screen and (min-width: 1280px) {
  .copied {
    padding: 15px 70px;
  }
}

/* @media screen and (min-width: 769px) { */
/* .item { */
/* grid-column: 1 / -1; */
/* grid-template-columns: 1fr 2fr; */
/* } */
/* } */
